@using System.Web.UI.WebControls
@model Practice2.Models.EmployeeDataModel
<div class="modal-header">
    <a href="" class="close" data-dismiss="modal">&times;</a>
    @if (Model.EmployeeId > 0)
    {
        <h3 class="modal-title">Edit Employee</h3>
    }
    else
    {
        <h3 class="modal-title">Add Employee</h3>
    }

</div>
<div >
    <form id="AddEditForm">
        <div class="row">
            <div class="col-sm-4">
                <label>Employee Name</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @placeHolder = "Enter the employees name"})
            </div>
        </div>

    </form>
    <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" id="btnSubmit" class="btn btn-success btn-block">
            @if (Model.EmployeeId > 0)
            {<span>Update</span>
            }
            else
            {<span>Save</span>}
        </a>

    </div>


</div>
<script>
    $(document).ready(function (){
        $("#btnSubmit").click(function (){
            var data = $("#AddEditForm").serialize();
            $.ajax({
                type: "POST",
                url: "Employee/AddEdit",
                data: data,
                success: function (){
                    $("#myModal").modal("hide");
                    alert("The task was successfully performed");
                    window.location.href ="Employee/Index";
                }
            })
        })})
</script>